<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Some website</title>
</head>
<body>
   {{> header}}
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum cupiditate soluta quaerat voluptate voluptatum neque excepturi! Velit architecto, a reprehenderit dolore quas temporibus, alias doloremque, praesentium eos ipsam reiciendis animi?
    </p>
     {{> footer}}
</body>
</html>