<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <title>Some website</title>
</head>
<body>
  {{> header}}
    <p>{{screamIt welcomeMessage}}</p>
    <p>
       Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus 
       similique exercitationem numquam id modi quas, odio nobis illum autem 
       deserunt non accusantium dignissimos at rem nostrum quidem, harum voluptate. 
       Fugit! 
    </p>
    {{> footer}}
</body>
</html>